<html>
    {% extends 'crudApp/base.html' %}
    {% block content %}
        <h1>Update Employee Details</h1>
        <form method = 'POST'>
        Employee No.<input type='text' name='eno' value='{{employee.eno}}'>
        Employee Name.<input type='text' name='ename' value='{{employee.ename}}'>
        Employee Role.<input type='text' name='erole' value='{{employee.erole}}'>
        Employee Salary.<input type='text' name='esalary' value='{{employee.esalary}}'>
        Employee Address.<input type='text' name='eaddress' value='{{employee.eaddress}}'>
        {% csrf_token %}
        <input type='submit' value= 'Update Employee'>
        </form>
        
    {% endblock %}
   
</html>